.Notifications {
  border: 1px dashed var(--primary-color);
  margin-bottom: 20px;
  padding: 15px;
}

.Notifications button img {
  width: 10px;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}
