.bodySectionWithMargin {
  margin-bottom: 40px;
}

.bodySection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 160px;
  width: 100%;
}

.bodySection h2 {
  width: 100%;
}

.bodySection table {
  margin: 0 auto;
}
